<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">

</head>
<body>
 







<button id='butt' onclick="getHttp()">Кнопка</button>

  
    <div class="container">
      <div class="header clearfix">
        <nav>
          
        </nav>
        <h3 class="text-muted">ARM</h3>
      </div>

  <hr>  
  <div class="row">
<div class="col-md-2"></div>
<div class="col-md-8 ">

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Магазин</th>
      <th>Цифeрка</th>
    
    </tr>
  </thead>
  <tbody>
    
      <% for(var i=0; i<quotes.length; i++) {%>
     <tr>
     
      <th scope="row"><%= i+1 %></th>
      <td><%= quotes[i].name %></td>
      <td><%= quotes[i].quote %></td>
     
    </tr>
      <% } %>
  </tbody>
</table>







</div>
</div>
 <hr>
      <footer class="footer">
        <p>&copy; Unl 2017</p>
      </footer>

    </div>

  <script src="main.js"></script>

</body>
</html>