<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Облік</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
 




<div class="row">
<div class="col-md-2"></div>
<div class="col-md-6 ">
  <h4>Дані по закладах </h4>
</div>
<div class="col-md-3"><a href="/logout" class="btn btn-info " >Вихід</a></div>
</div>



  <hr>  
  <div class="row">
<div class="col-md-2"></div>
<div class="col-md-8 ">

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Магазин</th>
      <th>Цифeрка</th>
       <th>Час оновлення</th>
    </tr>
  </thead>
  <tbody>
    
      <% for(var i=0; i<quotes.length; i++) {%>
     <tr>
     
      <th scope="row"><%= i+1 %></th>
      <td><%= quotes[i].name %></td>
      <td><%= quotes[i].quote %></td>
      <td><%= quotes[i].time %></td>
    </tr>
      <% } %>
  </tbody>
</table>







</div>
</div>
 <hr>
 <div class="row justify-content-md-center">
      <footer class="footer centered">
        <p>&copy; Ternopil 2017</p>
      </footer>

    </div>
    </div>
    

   <script src="main.js"></script>

</body>
</html>